@import '../../vendor/glaemscribe.css';

.glaemscribe {
  line-height: 1.5em;

  &.writing-cirth { font-family: 'Cirth Erebor'; }
  &.writing-gothic { font-family: 'Analecta'; }
  &.writing-runes { font-family: 'Pfeffer Mediaeval'; }
  &.writing-sarati { font-family: 'Sarati Eldamar'; }
  &.writing-tengwar {
    font-family: 'Tengwar Elfica';

    &.annatar, &.typeface-annatar { font-family: 'Tengwar Annatar'; }
    &.annatar.bold, &.annatar[bold], &.typeface-annatar-bold { font-family: 'Tengwar Annatar Bold'; }
    &.annatar.italic, &.annatar[italic], &.typeface-annatar-italic { font-family: 'Tengwar Annatar Italic'; }
    &.eldamar, &.typeface-eldamar { font-family: 'Tengwar Eldamar'; }
    &.elfica, &.typeface-elfica { font-family: 'Tengwar Elfica'; }
    &.freemono, &.typeface-freemono { font-family: 'Tengwar FreeMono'; }
    &.parmaite, &.typeface-parmaite { font-family: 'Tengwar Parmaite'; font-size: 1.7em; }
    &.sindarin, &.typeface-sindarin { font-family: 'Tengwar Sindarin'; }
  }
}
